.nav-background{
	font-family: serif;
	font-weight: normal;
	font-size: 18px;
	background: #4267b2!important;
	border-radius: 0 !important;
	box-shadow: inset 0 0 0 #ee6e73, 0 1px 1px #4267b2 !important;
	border-bottom: 0 !important;
}
.nav-background p{
	margin-top: 10px;
	font-size: 25px;
	font-style: oblique;
	font-weight: bold;
	font-family: serif;
	color: white !important;
}
.nav-background a{
	display: inline-block;
	color: white!important;
	margin: 7px 0 0 0;
}
.nav-background a:hover{
	text-decoration: none;
	color:#eb7077 !important;
	border-bottom: 2px solid #eb7077; 
}
.nav-session a:hover{
	color:#ff6200!important;
	border-bottom: 0 !important;
	text-decoration: none !important;
}
i{
	font-size: 25px;
	margin-left: 15px;
	margin-right: 5px;
}
body{	
	font-weight: normal !important;
	font-family: serif;
	font-style: initial;
}
.search{
	width: 45%;
	float: right;
}
.search i{
	font-size: 16px;
}
.footer{
	text-align: center;
	color: white;
    background:#4267b2;
    font-size: 18px;
    font-family: serif;
}
.footer p{
	    margin-top: 10px;
	    margin-bottom: 10px;
}
.paging{
	width: 100%;
    text-align: center;
}
.paging li{
	display: inline-block !important;
}
.paging a:hover{
	color:#eb7077 !important;
}
.paging a{
	color:black !important;
	border-color: #f1f0f0 !important;
    background: #f1f0f0 !important;
}
.register-heading {
	background:#4267b2;
	font-size: 20px;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    padding: 6px 0px 6px 0;
    margin:0 -15px;
    color: #fff;
}
.register-content{
	background:#d3d3d6;
	margin-top: 5%;
}
.register-content label{
	margin-top: 7px;
}
.register-content button{
	margin-bottom: 5px;
}
.studentdetail-heading{
	color: white;
	background:#4267b2;
	font-weight:normal;
	font-family: serif;
	font-size: 20px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
//css for create class page
.create-class{
	margin-top: 100%;
	background:red;
}
.create-class label{
	    margin: 10px 0;
}
//css for class detail page
.classdetail-heading th{
	border: 0 !important;
	color: black !important;
}
.classdetail-table{
	font-size: 20px;
}
.classdetail-table a{
	text-decoration: none;
	color: black;
}
.classdetail-table a:hover{
	text-decoration: none;
	color:red;
	border-bottom: 2px solid #eb7077; 
}
//css for eachclass page
.container{
	margin-top: 2%;
}
.eachclass-heading th{
	color: white;
	padding: 5px 0 5px 0;
		  font-size: 18px;
		  font-weight: normal;
		  text-align: center;
		  font-style: normal;
		  font-weight: bolder;
		  background:#4267b2;
		  border: 0 !important;
}
.eachclass-table{
	font-size: 18px;
}
a{
	text-decoration: none;
	color: black;
}


